<div ng-app="ShopApp" ng-controller="homeCtrl">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/slider1.jpg" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="img/slider2.jpg" alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="img/slider3.jpg" alt="New York" width="1100" height="500">
            </div>
            <div class="carousel-item">
                    <img src="img/slider1.jpg" alt="New York" width="1100" height="500">
                </div>
                <div class="carousel-item">
                        <img src="img/slider1.jpg" alt="New York" width="1100" height="500">
                    </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
	</div>

    <div class="listProduct">
		<div class="row">
			<div class="col-3" ng-repeat="product in listProduct | searchFor: searchString" style="margin-top: 20px">
                <a ui-sref="productDetail({product_id: product._id})" style="text-decoration: none">
                    <div class="card" style="width: 18rem;padding-top: 10px">
                        <div style="width: 60%;height: 60%;margin-left: 20%;">
                         <img  style="width: auto;height: 12rem; border: none" class="card-img-top img-thumbnail" src="{{product.image_link}}" alt="Card image cap">
                       </div>
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <!-- <p style="margin-bottom: 0.5rem" class="card-text">{{product.content}}</p> -->
                            <p style="color: #f36e36; font-size: 125%; margin-bottom: 0px;">{{product.price}} đ</p>
                            <p style="font-size: 75%; color: darkgray"><span style="text-decoration: line-through" >{{product.discountMoney}} đ</span> -{{product.discount}}%</p>
                            <a href="#" style="width: 100%; background-color: #f36e36;" class="btn btn-primary" ng-click="addToBracket(product.id)">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </a>
                
			</div>
		</div>
    </div>

</div>
